* {
  box-sizing: border-box;
  font-family: $main;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app {
  background-image: linear-gradient(white, $aqua);
  height: 99.9vh;
  width: 100%;

  .header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px; 
  }

  img {
    height: 120px;
  }

  h1 {
    color: $ocean;
    display: inline;
    font-family: $logo;
    font-size: 3.5rem;
  }
}

