.card {
  align-items: space-around;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;

  input {
    border: 0;
  }

  h3 {
    color: $ocean;
    font-family: $logo;
    size: 1.5rem;
  }

  input {
    font-family: $main;
    font-size: 1.5rem;
    font-weight: normal;
  }

  button {
    border: 0;
    font-size: 1.5rem;
    margin: 1%;
  }

  button:hover {
    color: $coral;
    cursor: pointer; 
  }

  .fa-asterisk {
    color: $coral;
  }
}



